/* Extra extra large */
@media screen and (max-width: 1400px) {
    
}
/* Extra large */
@media screen and (max-width: 1200px) {
    .header {
        margin-bottom: 50px;
    }

    .hero__image {
        max-width: 450px;
    }
}
/* large */
@media screen and (max-width: 992px) {
    .header {
        margin-left: 15px;
        margin-right: 15px;
    }
}
/* Medium */
@media screen and (max-width: 768px) {
    .header {
        margin-bottom: 0;
    }

    .nav-wrapper{
        display: none;
    }

    .mobile-stores {
        justify-content: center;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .nav-wrapper-mobile {
        display: block;
    }

    .hero__title {
        text-align: center;
    }

}
/* Small */
@media screen and (max-width: 576px) {
    
}